body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url(/Assets/images/capa.png),
                      url(/Assets/images/ruido.png),
                      linear-gradient(50deg, #ff4169, #7c26f8);
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
}
/* ------------------------ NAVBAR -------------------------*/

.navbar{
    background-color: rgba(0, 0, 0, 0.6);
    border: none;
}

.navbar-brand{
    color: white !important;
    background: none !important;
}

.logo {
    width: 50px;
    height: 50px;
    filter: invert(100%);
}

.navbar-nav{
    background: none;
}

.nav-link{
    color: white !important;
    background: none !important;
}

.divisor{
    width: 1px;
    background:white;
    margin: 1px 5px;
}

/* --------------- SECTION 1 ---------------- */

.sec1{

    justify-content: center;
    display: flex;
    text-align: center;
}

.carousel{
    width: 100%;
}

.contentedit{
    text-align: center;
    justify-content: center;
    height: 600px;
}

.carouseltext{
    justify-content:center;
    text-align: center;
    display: flex;
    color: white;
    margin-top: 250px;
}

.botao{
    margin: 4px;
    border: 1px solid;
    border-radius: 40px;
    height: 40px;
    width: 250px;
    color: white;
    background-color: rgba(0, 0, 0, 0);
}

.botao1{
    background-color: rgb(76, 76, 247);
    color: white;
    border: none;
}

/* --------------------- SECTION 2 ----------------- */

.sec2{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: white;
}

.albuns{
    padding: 10px 0;
}


.title{
    color: #7c26f8;
}



/* --------------- SECTION 3 --------------- */


.text-sobre{
    color: white;
}

.title-sobre{
    color: aquamarine;
}

.conteudoSobre{
    padding-top: 40px;
}
.celulares{
    padding-left: 80px;
    z-index: 1;
    transform: rotate(20deg);
}


/* -------------------- FOOTER ---------------- */

footer{
    background-color: black;
    position: relative;
    padding: 50px 0px 20px 0px;
}

footer ul li{
    float: right;
    margin: 0 5px;
}

.text-rodape{
    color: white;
    text-decoration: none;
}

.title-rodape{
    color: rgb(175, 169, 169);
}


